.progress {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.36);
}
.title {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.117px;
}
.exclusive {
    color: #ffffffcc;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.117px;
}
