.container {
	border-radius: 1000px;
	background: rgba(255, 255, 255, 0.15);
	height: 1px;
}

.variant-light {
	background: rgba(255, 255, 255, 0.15);
}

.variant-dark {
	background: rgba(255, 255, 255, 0.15);
}
