.container {
    border-radius: 12px;
    border: 1px solid #ffffff0d;
    background: linear-gradient(180deg, #131313 0%, #0a0a0a 100%),
        rgba(255, 255, 255, 0.05);
    min-height: 208px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div {
    position: relative;
    top: -20px;
}

.container .content_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 10;
}

.container .content_container .content_section > button {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    top: 0;

    border-radius: 1000px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    justify-self: end;
    align-self: end;
    position: relative;
    z-index: 1002;
    transition: all 0.3s ease-in-out;
}

.container:hover .content_container .content_section > button {
    background: white;
    top: -20px;
}

.container:hover .content_container .content_section > button i {
    color: black;
}

.container .content_container .content_section > button i {
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

.container .content_container .content_section {
    display: flex;
    padding: 1.5rem;
    position: relative;
    align-items: center;
    width: 100%;
}

.container .content_container .content_section > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;
    width: 100%;
}

.container .content_container .content_section::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 35px;
    left: 0;
    background-color: #121212;
    filter: blur(25px);
}

.container .description {
    max-width: 450px;
    color: #ffffff66;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 10;
}

.card_img {
    border-radius: 1000px;
    border: 1px solid #ffffff0d;
    background: #00000033;
    padding: 24px;
    width: 88px;
    height: 88px;
}

.container .title {
    color: #ffffff66;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.117px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 450px;
    position: relative;
    z-index: 10;
}

.container .title i {
    font-size: 30px;
    position: relative;
    top: 2px;
}

@media (max-width: 570px) {
    .container .content_container .content_section {
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .card_img {
        border-radius: 1000px;
        border: 1px solid #ffffff0d;
        background: #00000033;
        padding: 8px;
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 400px) {
    .card_img {
        display: none;
    }
}
