.button_discover_more {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #121212;
    padding: 14px 64px;
}
.popular_quest {
    background-image: url('./assets/bggrid.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
}