.marketing_heading {
    color: #ffffff;
    text-shadow: 0px 1px 0px #000;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.117px;
}
.container {
    padding: 48px;
    border: 1px solid #ffffff12;
    border-radius: 16px;
    min-height: 457px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #131313 0%, #0a0a0a 100%);
}

.glow_effect {
    max-width: 250px;
    width: 100%;
    min-height: 150px;
    filter: blur(130px);
    background: purple;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -10px;
    opacity: 0.2;
    z-index: 1;
}

.subtext {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.117px;
}

.points {
    color: #ffffff99;
    text-shadow: 0px 1px 0px #000;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* padding: 16px 0px; */
    letter-spacing: 0.117px;
}
.divider {
    height: 1px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: #ffffff0d;
    mix-blend-mode: plus-lighter;
}

@media (max-width: 472px) {
    .container {
        padding: 24px;
        border-radius: 16px;
        border: 1px solid var(#ffffff12, rgba(255, 255, 255, 0.07));
        background: linear-gradient(180deg, #131313 0%, #0a0a0a 100%);
    }
    .points {
        color: #ffffff99;
        text-shadow: 0px 1px 0px #000;
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        /* padding: 16px 0px; */
        letter-spacing: 0.117px;
    }
    .impressions {
        color: #ffffff66;
        text-shadow: 0px 1px 0px #000;
        font-family: Outfit;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.117px;
    }
}
