/* Base styles for the section */
.exploreSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    color: white;

    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headline {
    text-align: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Outfit;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 120px; /* 125% */
    letter-spacing: 0.117px;
    background: linear-gradient(
        180deg,
        #fff 0%,
        #e1e1e1 48.88%,
        #a3a3a3 72.01%,
        #8c8c8c 110.56%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: plus-lighter;
}
.exploreSection .base_network_logos {
    width: 100%;
    position: relative;
    margin-top: 126px;
}

.card .left_transparent_gradient {
    z-index: 2;
    top: 0;
    left: -15px;
    height: calc(100% - 20px);
    width: calc(100% + 30px);
    position: absolute;
    background: linear-gradient(
        90deg,
        #121212 5.13%,
        rgba(18, 18, 18, 0) 14.19%,
        rgba(18, 18, 18, 0) 50.67%,
        rgba(18, 18, 18, 0) 83.72%,
        #121212 95.51%
    );
}

.marquee {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    position: absolute;
    right: 0;
    animation: marquee-animation1 20s normal infinite;
}

.logo_image {
    width: 162.291px;
    height: 32px;
    flex-shrink: 0;
    margin: 0px 40px;
}
@keyframes marquee-animation1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.description {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */
    letter-spacing: 0.117px;
    margin-top: 8px;
}

.glow_effect {
    max-width: 500px;
    width: 100%;
    height: 400px;
    filter: blur(150px);
    background: #2b70ff;
    position: absolute;
    transform: translate(0%, -80%);
    top: 60vh;
    opacity: 0.4;
    z-index: 1;
}

.exploreButton {
    display: flex;
    width: 100%;
    max-width: 217px;
    margin-top: 48px;
    padding: 10px 0px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #6435e9;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.15);
}

.exploreButton:hover {
    background-color: #3700b3;
    cursor: pointer;
}
.pair {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    font-family: 'Outfit';
    margin: 16px 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 48px 24px;
    line-height: 20px; /* 125% */
    letter-spacing: 0.117px;
}

@media (max-width: 600px) {
    .exploreSection {
        flex-direction: column;
        padding: 25px;
        position: relative;
    }
    .pair {
        margin: 16px 24px;
    }

    .headline {
        text-align: center;
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
        -webkit-text-stroke-width: 0.5;
        -webkit-text-stroke-color: #000;
        font-family: Outfit;
        font-size: calc(48px + 4vw);
        font-style: normal;
        font-weight: 600;
        line-height: 60px; /* 125% */
        letter-spacing: 0.117px;
        background: linear-gradient(
            180deg,
            #fff 0%,
            #e1e1e1 48.88%,
            #a3a3a3 72.01%,
            #8c8c8c 110.56%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .description {
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
        font-family: Outfit;
        font-size: calc(16px + 0.5vw);
        margin-top: 5%;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
        letter-spacing: 0.117px;
    }
    .pair {
        color: rgba(255, 255, 255, 0.4);
        text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
        letter-spacing: 0.117px;
    }

    .exploreButton {
        display: flex;
        position: absolute;
        max-width: 217px !important;
        width: 100%;
        align-self: center;
        cursor: pointer;
        padding: 10px 0px;
        bottom: 50vw;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: #6435e9;
        box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.15);
    }
}
