@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.heading {
    color: #ffffffcc;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Outfit';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.117px;
}

.subheading {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.117px;
}
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (min-width: 500px) {
    .heading {
        color: var(#ffffffcc, rgba(255, 255, 255, 0.8));
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-family: 'Outfit';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.117px;
    }
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
    .subheading {
        color: rgba(255, 255, 255, 0.4);
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-family: Outfit;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.117px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
