@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.card_heading {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.117px;
}
.card_subheading {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Outfit';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.117px;
}
.card {
    border-radius: 16px;
    border: 1px solid var(#ffffff12, rgba(255, 255, 255, 0.07));
    background: linear-gradient(180deg, #131313 0%, #0a0a0a 100%);
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.card_inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.world_number1 {
    color: #ffffffcc;
    font-family: Outfit;
    font-size: unset;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.117px;
}

@media (min-width: 742px) {
    .card {
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .card_heading {
        text-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.5);
        font-family: Outfit;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.117px;
    }
    .questing_image {
        position: absolute;
        width: 100%;
    }
    .card_inner {
        padding: 40px;
        max-width: 40%;
        height: 100%;
    }
    .card_subheading {
        color: rgba(255, 255, 255, 0.4);
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
        letter-spacing: 0.117px;
    }
}

@media (min-width: 500px) {
    .world_number1 {
        font-size: 20px !important;
    }
}
