@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.card_heading {
    color: #FFF;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.117px;
}
.card_subheading {
    color: rgba(255, 255, 255, 0.60);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    max-width: 70%;
    line-height: 20px; /* 125% */
    letter-spacing: 0.117px;
}
.card {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    padding:16px;
    flex-direction: column;
    gap:0px;
    background: linear-gradient(108deg, #1E1E1E 2.39%, #171717 27.66%, #0E0E0E 98.74%);
}
.card_inner {
    display: flex;
    flex-direction: column;
    gap:8px
}

@media (min-width: 700px) {
    .card {
        padding: 10px;
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .card_heading {
        text-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.50);
        font-family: Outfit;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 125% */
        letter-spacing: 0.117px;
    }
    .questing_image {
        position: absolute;
        width: 100%;
      
    }
    .card_inner {
        padding: 40px;
        max-width: 40%;
    }
    .card_subheading {
        color: rgba(255, 255, 255, 0.40);
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.10);
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 125% */
        letter-spacing: 0.117px;
    }
}