.users {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-image: url('./assets/usrs.png');
    background-size: cover;
    background-position: center;
    max-height: 464px;
    width: 100vw;
    overflow: hidden;
    color: white;
}
.glow_effect {
    height: 100px; /* Adjust height as needed */
    position: absolute;
    top: 0;
    margin-top: -96px;
    background: linear-gradient(
        to bottom,
        #ffffffcc,
        #ffffff0d
    ); /* Adjust gradient colors */
    width: 100%; /* Set width to match parent */
    opacity: 0.07;
}

.content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #000;
    font-family: Outfit;
    font-size: 240px;
    font-style: normal;
    font-weight: 700;
    line-height: 240px; /* 100% */
    letter-spacing: 0.117px;
    background: linear-gradient(
        180deg,
        #fff 0%,
        #e1e1e1 48.88%,
        #a3a3a3 72.01%,
        #8c8c8c 110.56%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user_text {
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 125% */
    letter-spacing: 0.117px;
    color: linear-gradient(
        180deg,
        #fff 0%,
        #e1e1e1 48.88%,
        #a3a3a3 72.01%,
        #8c8c8c 110.56%
    );
}

@media (max-width: 500px) {
    .users {
        height: 320px;
    }
    .text {
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: Outfit;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 120px; /* 100% */
        letter-spacing: 0.117px;
    }

    .user_text {
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 125% */
        letter-spacing: 0.117px;
    }
}

@media (max-width: 768px) {
    .main_users_article {
        position: relative;
    }
    .glow_effect {
        height: 50px; /* Adjust height as needed */
        position: absolute;
        top: 32px;

        background: linear-gradient(
            to bottom,
            #ffffffcc,
            #ffffff0d
        ); /* Adjust gradient colors */
        width: 100%; /* Set width to match parent */
        opacity: 0.08;
    }
}
