@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.single_number {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0px 0px 8px 0px;
}
.name {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Outfit';
    font-size: 20px;
    font-style: normal;
    width: 100%;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.117px;
    align-self: center;
}
.number {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Outfit';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: right;
    line-height: 40px; /* 125% */
    letter-spacing: 0.117px;
    background: linear-gradient(
        180deg,
        #e1e1e1 0%,
        #a3a3a3 63.19%,
        #8c8c8c 110.56%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.divider {
    border-radius: 1000px;
    background: rgba(255, 255, 255, 0.15);
}
.numbers_main {
    width: 100%;
}

@media (min-width: 700px) {
    .number {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-family: Outfit;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        text-align: right;
        line-height: 80px; /* 125% */
        letter-spacing: 0.117px;
        background: linear-gradient(
            180deg,
            #e1e1e1 0%,
            #a3a3a3 63.19%,
            #8c8c8c 110.56%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .single_number {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0px 0px 8px 0px;
    }
    .name {
        color: rgba(255, 255, 255, 0.4);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        font-family: Outfit;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 125% */
        letter-spacing: 0.117px;
    }
}
